{%extends "register_login/base.html" %}
{%load crispy_forms_tags %}
{% load static %}
{%block content%}
    <div class="content-section">
        <form method="POST"> 
            {% csrf_token %}
            <filedset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div>
                    <br>
                    <h1 id="regText">Hello!</h1>
                    <h2 style="font-family: 'Roboto Mono', monospace;
                    color: #6b63fe;
                    text-align: center;
                    font-weight: bold;
                    font-size: min(50px,3vw)">Enter Credentials</h2>
                </div>
                <div id="formbox" class=" bg-dark text-light container d-flex justify-content-center mb-3re">
                    <div id="aligndiv" class=" text-light d-flex">
                        <div class="d-none d-md-block p-2"><img src="{% static 'images/login1.svg' %}" class="d-block w-100" alt="assets/portfolio.svg"></div>
                    
                    </div>

                    <div id="aligndiv" class="bg-light text-dark" style="border-radius: 25px;">
                        <div class="p-2">{{form | crispy}}</div>
                    </div>

                </div>

            </filedset>

            <div class=" pt-2 form-group container d-flex justify-content-center">
                <button id="mybtn" class=" btn btn-light btn-lg" type="submit" href="{%url 'base-home'%}">Sign In</button>
            </div>   

            <div class="container d-flex justify-content-center">
                <small class="text-muted">
                    Dont have an account? Register as a <a href="{%url 'signup-doctor'%}" class="ml-2">Doctor</a> or <a href="{%url 'signup-patient'%}" class="ml-2">Patient</a>
                </small>
            </div>
            
        </form>
    </div>
{%endblock content%}