{%extends "doctor/home.html" %} {% load static %} {%block content%}
<style>
  #profile {
    color: #6b63fe;
  }

  #Text {
    color: #212529;
  }
  #carouselExampleDark {
    margin: auto;
    width: 60%;
    padding: 10px;
    max-width: 500px;
  }

  .carousel-caption {
    top: 0;
    bottom: auto;
    font-size: 2.5vw;
  }

  .abovecar {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: clamp(20px, 5vw, 30px);
  }

  #carouselText {
    font-family: "Roboto Mono", monospace;
    color: #6b63fe;
  }

  #mybtn {
    font-family: "Roboto Mono", monospace;
    color: #6b63fe;
    border: 2px solid #2f2e40;
  }

  #mybtn:hover {
    background-color: #2f2e40;
    cursor: pointer;
  }

  #mybtn2 {
    margin: auto;
    font-family: "Roboto Mono", monospace;
    color: #f8f9fb;
  }

  #mybtn2:hover {
    background-color: #f8f9fb;
    color: #6b63fe;
    cursor: pointer;
  }

  #regText {
    font-family: "Roboto Mono", monospace;
    color: #6b63fe;
    text-align: center;
    font-weight: bold;
    font-size: min(100px, 7vw);
  }

  #robotofont {
    font-family: "Roboto Mono", monospace;
  }

  #outsidecar {
    background-color: white;
    color: white;
  }

  #formbox {
    max-width: min(1000px, 60%);
    margin: auto;
    /* background-color: red; */
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
  }

  #aligndiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  #aligndiv2 {
    display: flex 2 1 auto;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-link:hover {
    border-radius: 10%;
    background-color: #6b63fe;
  }

  #profilediv {
    text-align: left;
  }

  #profile {
    font-size: min(25px, 2vw);
  }
  #purple {
    color: #6b63fe;
  }
  .button {
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #4caf50; /* Green */
    color: white;
  }

  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
  }

  .button1:hover {
    background-color: #4caf50;
    color: white;
  }
</style>

<br />
<br />
<br /><br /><br /><br />

<div
  id="formbox"
  class="bg-dark text-light container d-flex justify-content-center mb-3re"
>
  <div>
    <br />
    <h1 id="regText">Book Slots</h1>
    <br />
  </div>
  <div id="aligndiv" class="text-light d-flex">
    <div class="d-none d-md-block p-2">
      <img
        src="{% static 'images/profile1.svg' %}"
        class="d-block w-100"
        alt="assets/portfolio.svg"
      />
    </div>
  </div>

  <div id="aligndiv" class="bg-light text-dark" style="border-radius: 25px">
    <div id="profilediv" class="p-2">
      <br />
      <h5 style="text-align: center" id="profile1">
        <span id="Text" class="extra" style="font-weight: bolder"
          >15 minutes per slot
        </span>
      </h5>
      <br />

      <form id="free_slots">
        <h5 id="profile">Date & Time:</h5>
        <input type="datetime-local" id="appt0" name="appt0" />
      </form>
      <br />
      <button
        class="nav-item nav-link"
        style="margin-left: 65px; color: black"
        onclick="add()"
      >
        Add
      </button>
      <br />
      <button
        style="margin-left: 65px"
        type="submit"
        form="free_slots"
        class="button button1"
      >
        Submit
      </button>
      <script>
        var add = function () {
          var x = document.createElement("INPUT");
          x.setAttribute("type", "datetime-local");
          x.setAttribute(
            "name",
            "appt" +
              Math.floor(
                document.getElementById("free_slots").childElementCount / 2
              )
          ); // divide by 2 bcz of the brs
          document.getElementById("free_slots").appendChild(x);
          document
            .getElementById("free_slots")
            .appendChild(document.createElement("br"));
        };
      </script>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <small class="text-muted"> </small>
</div>
{%endblock content%}
