#carouselExampleDark
{
   margin:auto;
   width: 60%;
   padding: 10px;
   max-width: 500px;
}

.carousel-caption {
   top: 0;
   bottom: auto;
   font-size: 2.5vw;
}

.abovecar
{
   color: white;
   font-family: 'Roboto Mono', monospace;
   font-size: clamp(20px,5vw,30px);
}

#carouselText
{
   font-family: 'Roboto Mono', monospace;
   color: #6b63fe;
}


#mybtn
{
   font-family: 'Roboto Mono', monospace;
   color: #6b63fe;
   border: 2px solid #2f2e40;
}


#mybtn:hover
{
   background-color: #2f2e40;
   cursor:pointer;
}

#mybtn2
{
   margin:auto;
   font-family: 'Roboto Mono', monospace;
   color:#f8f9fb;
}

#mybtn2:hover
{
   background-color: #f8f9fb;
   color:#6b63fe;
   cursor:pointer;
}

#regText
{
   font-family: 'Roboto Mono', monospace;
   color: #6b63fe;
   text-align: center;
   font-weight: bold;
   font-size: min(100px, 7vw)
}

#robotofont
{
   font-family: 'Roboto Mono', monospace;
}

#outsidecar
{
   background-color: white;
   color: white;
}

#formbox
{
   max-width: min(1000px,60%);
   margin:auto;
   /* background-color: red; */
   border-radius: 25px;
   border: 2px solid black;
   padding:20px;
}


#aligndiv
{
   display: flex;
   align-items:center;
   flex-wrap: wrap;
}

#aligndiv2
{
   display: flex 2 1 auto;
   align-items:center;
   flex-wrap: wrap;
}

.nav-link:hover
{
   border-radius: 10%;
   background-color: #6b63fe;
}

#profilediv
{
   text-align:left;
}

#profile
{
   font-size: min(25px,2vw);
}

