{%extends "patient/home.html" %}
{%load static%}
{%block content%} 
      
     
     
<br><br><br><br>

      {%if available_slots%}
       <table>
         {% for slot in available_slots %}
         <tr>

            <td>
               <form id="slots{{slot.id}}">
                  <label>{{slot.time}}</label>
                  <input type="hidden" name="apptno" value="{{slot.id}}"/>
                  <input type="submit" value="Book Appoinment" >
               </form>

               

            </td>
 
            <!-- <td>
               <input type="submit" value="Delete Row" onclick="SomeDeleteRowFunction(this,'{{slot.time}}')">
             </td> -->
          </tr>
          
         {%endfor %}
        
       </table>
       {%else%}

       <br><br><br><br><br><br>
       <div id="formbox" class=" bg-dark text-light container d-flex justify-content-center mb-3re">
           <div id="aligndiv" class=" text-light d-flex">
               <div class="p-2"><img src="{% static 'images/logout.svg' %}" class="d-block w-100" alt="assets/portfolio.svg"></div>
           </div>
       
           <div id="aligndiv" class="bg-dark text-light" style="border-radius: 25px;">
               <h1> No<span id="carouselText"> Vacant </span>slots!</h1>
           </div>
       
       </div>

       {%endif%}


       <script>
         function SomeDeleteRowFunction(o,time) {
            console.log('slots'+time)
            
            var p=o.parentNode.parentNode;
            p.parentNode.removeChild(p);
            document.getElementById('slots'+time).submit();

              
         }
         </script>
      
{%endblock content%}