{% extends "base/base.html" %} {% load static %} {% block content %}
<style>
  #carouselExampleDark {
    margin: auto;
    width: 60%;
    padding: 10px;
    max-width: 500px;
  }

  .carousel-caption {
    top: 0;
    bottom: auto;
    font-size: 2.5vw;
  }

  .abovecar {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: clamp(20px, 5vw, 30px);
  }

  #carouselText {
    font-family: "Roboto Mono", monospace;
    color: #6b63fe;
  }

  #mybtn {
    font-family: "Roboto Mono", monospace;
    color: #6b63fe;
    border: 2px solid #2f2e40;
  }

  #mybtn:hover {
    background-color: #2f2e40;
    cursor: pointer;
  }

  #mybtn2 {
    margin: auto;
    font-family: "Roboto Mono", monospace;
    color: #f8f9fb;
  }

  #mybtn2:hover {
    background-color: #f8f9fb;
    color: #6b63fe;
    cursor: pointer;
  }

  #regText {
    font-family: "Roboto Mono", monospace;
    color: #6b63fe;
    text-align: center;
    font-weight: bold;
    font-size: min(100px, 7vw);
  }

  #robotofont {
    font-family: "Roboto Mono", monospace;
  }

  #outsidecar {
    background-color: white;
    color: white;
  }

  #formbox {
    max-width: min(1000px, 60%);
    margin: auto;
    /* background-color: red; */
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
  }

  #aligndiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  #aligndiv2 {
    display: flex 2 1 auto;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-link:hover {
    border-radius: 10%;
    background-color: #6b63fe;
  }

  #profilediv {
    text-align: left;
  }

  #profile {
    font-size: min(25px, 2vw);
  }
  #purple {
    color: #6b63fe;
  }
</style>
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Searching for<span id="carouselText"> Doctors?</span></h1>
        <p class="lead my-4">
          Hygieia is your one-stop solution to all medical needs. Due to COVID,
          now it has become unsafe to go to the hospital every time you feel
          sick. There is a chance of getting infected by covid in the hospital.
        </p>
        <button class="btn btn-primary btn-lg">
          <a href="{%url 'login'%}" style="text-decoration: none; color: white"
            >Get Started!</a
          >
        </button>
      </div>
      <img src="{% static 'images/health.svg' %}" />
    </div>
  </div>
</section>

<section
  class="bg-light text-dark p-5 text-center text-sm-start"
  style="min-height: 50vh"
>
  <div class="abovecar pb-5 bg-light text-dark">
    Heres a few things to explore while you're here..
  </div>
  <div id="outsidecar">
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img
            src="{% static 'images/heart.svg' %}"
            class="d-block w-100"
            alt="assets/portfolio.svg"
          />
          <div class="carousel-caption">
            <h5>Self Diagnose</h5>
            <p></p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="{% static 'images/undraw_hiring_re_yk5n.svg' %}"
            class="d-block w-100"
            alt="assets/portfolio.svg"
          />
          <div class="carousel-caption">
            <h5>Book Slots</h5>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'images/worktime.svg' %}"
            class="d-block w-100"
            alt="assets/portfolio.svg"
          />
          <div class="carousel-caption">
            <h5>Connect with Doctors</h5>
            <p></p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
{% endblock content %}
