<!DOCTYPE html>
<html>
   <body>
      <head>
         <title>HTML Forms</title>
      </head>
      {% if flag == 0 %}
      
      <form>
        <br> 
         <label for="body-locations"> Body Location</label>
        <select name="body_locations" id="body_locations">
          
            <option value="Abdomen, pelvis & buttocks">Abdomen, pelvis & buttocks</option>
          <option value="Arms & shoulder">Arms & shoulder</option>
          <option value="Chest & back">Chest & back</option>
          <option value="Legs">Legs</option>
          <option value="Head, throat & neck">Head, throat & neck</option>
          
          <option value="Skin, joints & general">Skin, joints & general</option>
        </select>
         <br>
        
         <br><br>
         <input type="submit" value="SUBMIT">

      </form>
      {% elif flag == 1 %}
      <form>
        <br> 
         <label for="body_subloctions"> Body SubLocation</label>
        <select name="body_sublocations" id="body_sublocations">

          {% for i in sublocations %}

          <option value="{{i}}">{{i}}</option>
          {%endfor%}
          
            
        </select>
         <br>
        
         <br><br>
         <input type="submit" value="SUBMIT">

      </form>

      {% elif flag == 2 %}
      <form>
        <br> 
         <label for="symptoms"> Symptoms</label>
        <select name="symptoms" id="symptoms">

          {% for i in symptoms %}

          <option value={{i}}>{{i}}</option>
          {%endfor%}
          
            
        </select>
         <br>
        
         <br><br>
         <input type="submit" value="SUBMIT">

      </form>

      {% elif flag == 3 %}

        {% for i in diagnosis %}
          <p>Name: {{i.0}} - {{i.1}}%</p>
          
          <p>Specialisation: {{i.2}}</p>
          <br><br><br>
        {%endfor%}

        {%if not diagnosis%}
        <p>Nothing in our database. Sorry!</p>
        {%endif%}

      {% endif %}
      
   </body>
</html>